body{
    background:red;
    padding:0;
    margin:0;
    background-color: white;
    text-align: center;
}
.container{
    display: flex;
    flex-direction: column;
    border:2px solid red;
    justify-content:center;
    background-color:rgb(216, 200, 178);
    margin: 0;
    padding:0;
}

.header{
    background-color: rgb(142, 152, 152);
}
.list {
    display:flex;
    list-style: none;
    gap:2rem;
    border: 2px solid red;
    margin:20;
    justify-content:center;
    align-items:center;
}
#logo {
    margin-right:50%;
    font-size:30px;
}

.hero{
    border: 2px solid green;
    display:flex;
    gap:2rem;
    justify-content: center;

}
.hero-content{
    border:2px solid red;
    max-width: 40%;
    height: fit-content;
    align-self: center;
    
}
.hero-content .button{
    margin-right:80%;
}
.hero-image{
    border:2px solid red;
}
.hero-image img{
    width: 600px;
    height:300px;
}


.pics{
    display:flex;
    flex-direction: column;/*column gap*/
    justify-content: center;
    border:2px solid yellow;
}

.pics .pic-container{
    display:flex;
    flex-direction:row;
    gap:2rem;
    justify-content: center;
    border: 2px solid black;
    flex-wrap: wrap;

}

.imgs{
    display: flex;
    flex-direction: column;
    border:2px solid red;
    align-items: center;
}
.imgs img{
    width: 200px;
    height:200px;
    border: 2px solid blue;
    border-radius:10px;
}
