body{
    padding:0;
    margin:0;
    text-align: center;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    /*border:2px solid red;*/
    justify-content:center
}
.header{
    display:flex;
    /*border:2px solid blue;*/
    justify-content:flex-start;
    background-color: #1F2937;
}

.header >*{
    /*border: 2px solid yellow;*/
    flex:1;


}
.header .list{
    display: flex;
    list-style: none;
    gap:1rem;
    justify-content: flex-end;
    margin-right:2rem;
}

#logo {
    max-height:6rem;
    max-width:7rem;
    border-radius:500px;
    
}

.hero{
    /*border: 2px solid green;*/
    display:flex;
    gap:1rem;
    justify-content: center;
    background-color: #1F2937;
    color:#F9FAF8;
}
.hero-content{
    /*border:2px solid red;*/
    max-width: 40%;
    height: fit-content;
    align-self: center;
    flex-grow:0;
    
}
.hero-content .button{
    margin-right:90%;
    max-width:6rem;
    /*border:2px solid red;*/
}
#hero-button{
    width:4rem;
    margin-left:0.5rem;
    padding:3px;
    padding-inline:2px;
}
.hero-image{
    /*border:2px solid red;*/
    align-self: center;
}
.hero-image img{
    width:80%;
    height:50%;
    margin-bottom:2rem;
    border-radius:2px;
}


.pics{
    display:flex;
    flex-direction: column;/*column gap*/
    justify-content: center;
    /*border:2px solid yellow;*/
}

.pics .pic-container{
    display:flex;
    flex-direction:row;
    gap:2rem;
    justify-content: center;
    /*border: 2px solid black;*/
    flex-wrap: wrap;

}
.pics .pic-container p{
    max-width:10rem;
}

.imgs{
    display: flex;
    flex-direction: column;
    /*border:2px solid red;*/
    align-items: center;
}
.imgs img{
    width: 200px;
    height:200px;
    /*border:4px solid blue;*/
    border-radius:10px;
}

.text .text-content{
    display:flex;
    flex-direction:column;
    font-size:36px;
    font:italic;
    color:#1F2937;
    background-color:#E5E7EB;
}
#name{
    margin-left:50%;
}
.footer{
    display: flex;
    justify-content: center;
}
.footer .content{
    /*border:2px solid green;*/
    display: flex;
    border-radius:7px;
    justify-content: center;
    background-color: #3882F6;
    max-width:fit-content;
    padding-inline:2rem;
    margin-block:2rem;
    
}
.footer .content div {
    /*border:2px solid black;*/
    color:white;
    flex-grow:0;
    flex-wrap: wrap;
    
}
.footer .content .btn{
    align-self: center;
    flex-grow:0;
}


.button{
    color:white;
    background-color:#3882F6;
    border-radius:4px;
}
button:active{
    background-color:#6d9aee;
    outline:1px solid white
}
#footer-button{
    height:2rem;
    width:5rem;
    /*work on the button click*/
}

.copyrigter{
    background: #0a91df15;
    max-height: fit-content;
    padding:0;
    border:0;
    margin:0;
    text-decoration:line-through;
}
a:hover{
    color: rgb(148, 175, 175);
}